<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body> 
        <div id="wrapper">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>
            <main>
                <%- body %> <!-- 🟡 C'est ici que le contenu unique de chaque page s'affiche -->
            </main>
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>

